<%= form_for @artist do |f|  %>
  <%= render 'layouts/errors' object: @artist %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, nil, class: 'form-control' %></p>



  <%= f.submit %>

  <% end %>
