<div class="row">
  <div class="col-lg-8">
    <img class="img-fluid" style="width: 100%" src="{{{data.show.poster}}}">

    {{#iff session '==' data.show.user.id}}
      <a class="style-1" href="/shows/{{data.id}}/edit">Edit Show</a>
      <a class="style-1" rel="nofollow" data-method="delete" href="/shows/{{data.id}}">Delete Show</a>
   {{else}}

   {{/iff}}
    <a class="style-1" data-id="{{data.show.id}}" data-city-id="{{data.cityId}}" id="previous-show" href="#">Previous Show</a>
    <a class="style-1" data-id="{{data.show.id}}" data-city-id="{{data.cityId}}" id="next-show" href="#">Next Show</a>
  </div>
  <div class="col-lg-4">
    <h1>{{data.show.name}}</h1>
    <h3>{{data.dateObj.month}}</h3>
    <h1>{{data.dateObj.dayNumber}}</h1>
    <h4>{{data.dateObj.dayOfWeek}}</h4>
    <h5>Venue: <a class="style-1" href="/venues/{{data.show.venue.id}}">{{data.show.venue.name}}</a></h5>
  {{#data.show.artists}}
    <div style="width: 100%" class="card">
      <div class="card-block">
        <a href="/artists/{{id}}"><img src="{{image}}" class="card-img-top"></a>
        <h4 class="card-title"><a class="style-1" href="/artists/{{id}}">{{name}}</a></h4>
      </div>
    </div>
    {{/data.show.artists}}
  </div>
</div>
