<%= form_for @show do |f|  %>
  <% if @show.errors.any? %>
   <div id="error_explanation">
     <h2>There were some errors:</h2>
     <ul>
       <% @show.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :city_name %></p>
  <p><%= f.text_field :city_name %></p>
  <p><%= f.label :venue_name %></p>
  <p><%= f.text_field :venue_name %></p>
  <%= f.fields_for :artists do |artist_builder| %>
    <p><%= artist_builder.label :name %></p>
    <p><%= artist_builder.text_field :name %></p>
  <% end  %>
  <p><%= f.label :date %></p>
  <p><%= f.date_select(:date, :order => [:month, :day, :year]) %></p>
  <p><%= f.label :time %></p>
  <p><%= f.time_select(:time, ampm: true) %></p>


  <%= f.submit %>



<% end  %>
