<%= content_tag :div, class: 'row' do %>
  <%= content_tag :div, class: 'col-lg-8' do %>
    <%= image_tag @show.poster, class: 'img-fluid' %>
  <% end %>
  <%= content_tag :div, class: 'col-lg-4' do %>
    <h1><%= @show.name %></h1>
    <h3><%= @show.date.strftime("%B") %></h3>
    <h1><%= @show.date.strftime("%d") %></h1>
    <h4><%= @show.date.strftime("%A") %></h4>


    <h5>Venue: <%= link_to @show.venue.name, venue_path(@show.venue), class: 'style-1' %></h5>
    <% @show.artists.each do |artist| %>
      <%= card style: "width: 100%" do  %>
        <a href="<%= artist_path(artist) %>"><%= card_block src: artist.image %></a>
        <%= card_title link_to artist.name, artist_path(artist), class: 'style-1' %>
      <% end %>
    <% end %>
    <% if current_user.id == @show.user.id %>
      <%= link_to 'Edit Show', edit_show_path(@show), class: 'style-1' %>
      <%= link_to 'Delete Show', show_path(@show), :method => :delete,  class: 'style-1' %>
      
    <% end %>




  <% end %>
<% end %>
