<div class="d-flex justify-content-center   ">
  <div class='row'>
    <%= form_for @user, class: 'form-signin' do |f|  %>
    <%= render 'layouts/errors', object: @user  %>

    <% if @user.errors.any? %>

    <% else %>
      <%= content_tag :p, class: 'text-center' do %>
          Sign up if you wish to <br> create and edit events
      <% end %>

    <% end %>





      <%= content_tag :div, class: "form-label-group mx-sm-7 mb-2" do %>
        <%= f.label :name %>
        <%= f.text_field :name,  {class: "form-control", placeholder: "Name"} %>
      <% end %>

      <%= content_tag :div, class: "form-label-group mx-sm-7 mb-2" do %>
        <%= f.label :email %>
        <%= f.text_field :email,  {class: "form-control", placeholder: "Email address"} %>
      <% end %>

      <%= content_tag :div, class: "form-label-group mx-sm-7 mb-2" do %>
        <%= f.label :password %>
        <%= f.text_field :password,  {class: "form-control" , placeholder: "Password"} %>
      <% end %>

      <p><%= f.submit("Sign up", {class: "btn btn-lg btn-dark btn-block mb-2 my-4"}) %></p>
        <div class='text-center '><%= link_to "Login", login_path, class: 'style-1' %></div>
        <p class='text-center'><%= link_to'Log in with Facebook', '/auth/facebook', class: 'style-1' %></p>

      <%= content_tag :p, class: "mt-3 mb-3 text-muted text-center" do %>
        © 2018
      <% end %>


    <% end %>
